{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
    <h1>Services</h1>
    <ul>Cards</ul>
    {% for service in services %}
      <li>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{service.name}}</h5>
              <a href="#" class="card-link">{{service.url}}</a>
            </div>
          </div></li>
    {% endfor %}
    </ul>
{% endblock content %}
