{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
    <h1>Hello</h1>
    <p>Index.</p>
    <ul>Cards</ul>
    {% for card in cards %}
      <li>{{card.name}}</li>
    {% endfor %}
    </ul>
{% endblock content %}
