{% extends "base" %}
{% block title %}Index{% endblock title %}

{% block content %}
    <h1>Services</h1>
    {% for service in service_list.services %}
      <div class="card mb-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><a href="{{service.url}}" class="card-link">{{service.name}}</a></h5>
        </div>
      </div>
    {% endfor %}
    </ul>
{% endblock content %}
